@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    --cor-disponivel: #C3CFD9;
    ;
    --cor-indisponivel: #FBE192;
    --cor-selecionado: #8DD7CF;
}

a {
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.background {
    position: absolute;
    top: 70px;
    width: 100%;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

main>h1 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-box {
    width: 130px;
    height: 190px;
    margin: 0 10px 20px 10px;
    border: solid 10px #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 2px lightgray;
}

.movie-box>img {
    width: 130px;
    height: 190px;
    object-fit: cover;
    cursor: pointer;
}

.chairs-box {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chair {
    width: 25px;
    height: 25px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 5px 5px 5px;
    cursor: pointer;
}

.disponivel {
    background-color: var(--cor-disponivel);
    border: solid 1px #7B8B99;
}


.indisponivel {
    background-color: var(--cor-indisponivel);
    border: solid 1px #F7C52B;
}

.selecionado {
    background-color: var(--cor-selecionado);
    border: solid 1px #1AAE9E;
}

.type-seats {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

.type-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.infos-buyer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 20px 0 20px;
}

.infos-buyer>div {
    width: 100%;
    margin: 10px;
}

.infos-buyer h2 {
    font-size: 18px;
}

.infos-buyer input {
    height: 50px;
    width: 100%;
    border: solid 1px lightgray;
    box-sizing: border-box;
    padding: 0 10px;
}

.infos-buyer input::placeholder {
    box-sizing: border-box;
    font-style: italic;
    font-size: 17px;
}

.reserve {
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 60px 80px 20px 80px;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #E8833A;
    cursor: pointer;
}

.background-movie {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.3;
}


/* SUCESS INFORMATIONS */

.sucess {
    margin: 30px 0;
    box-sizing: border-box;
    font-size: 24px;
    color: #247A6B;
    font-weight: 700;
    padding: 0 120px;
    text-align: center;
}


/* INFORMAÇÕES FILME */
.selected-infos {
    margin: 20px;
}

.selected-infos>h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.selected-infos>h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* INFORMAÇÕES ASSENTOS */
.selected-seats {
    margin: 20px;
}

.selected-seats>h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.selected-seats>h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}


/* INFORMAÇÕES COMPRADOR */
.final-buyer {
    margin: 20px;
}

.final-buyer>h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.final-buyer>h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.reserve>h1 {
    width: 100%;
    height: 100%;
}


/* FOOTER */
footer>img {
    width: 70px;
    height: 90px;
    object-fit: cover;
    border: solid 10px #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 2px lightgray;
    margin: 0 20px;
}

.title-footer>p {
    margin-top: 10px;
}

footer {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #DFE6ED;
    border: solid #9EADBA 1px;
}